<div class="card">
    <div class="card-header">
        <i class="pi pi-exclamation-triangle" style="font-size: 1rem"></i>
        <p class="card-title">{{title}}</p>
    </div>
    <div class="card-body">
        <p class="card-text">{{text}}</p>
    </div>
    <div class="more">
        <p>Ver Mais</p>
        <button class="btn" (click)="redirectToPage()">
            <i class="pi pi-chevron-down" style="font-size: 1rem"></i>
        </button>
    </div>
</div>

<!-- <div class="card">
    <div class="card-header">
        <i class="pi pi-exclamation-triangle" style="font-size: 1rem"></i>
        <p class="card-title">Produtos C/ Divergência</p>
    </div>
    <div class="card-body">
        <p class="card-text">Mensagem de aviso de Produtos</p>
    </div>
    <div class="more">
        <p>Ver Mais</p>
        <button class="btn" (click)="redirectToPage()">
            <i class="pi pi-chevron-down" style="font-size: 1rem"></i>
        </button>
    </div>
</div> -->

<!-- <div class="card">
    <div class="card-header">
        <i class="pi pi-exclamation-triangle" style="font-size: 1rem"></i>
        <p class="card-title">Capacidade Endereços</p>
    </div>
    <div class="card-body">
        <p class="card-text">Mensagem de aviso de Endereços</p>
    </div>
    <div class="more">
        <p>Ver Mais</p>
        <button class="btn" (click)="redirectToPage()">
            <i class="pi pi-chevron-down" style="font-size: 1rem"></i>
        </button>
    </div>
</div> -->